<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Administrar Perfiles</h6>
    </div>
    <div class="pt-3 pl-3">

    </div>
    <div class="card-body">
        <!-- -->
        <div class="row">
            <div class="col-lg-12">
                <form id="addrecurso" class="user" action="perfiles/addrecursos" method="POST">
                    <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label class="label label-default">Sede:</label>
                            <select class="form-control" id="sede" name="sede" required>
                                {{#each sede}}
                                <option value="{{id}}"> {{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-8 mb-3 mb-sm-0">
                            <label class="label label-default">Perfil:</label>
                            <select class="form-control" id="perfil" name="perfil" required>
                                {{#each perfil}}
                                <option value="{{id}}"> {{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label for="recursosadd">Módulo:</label>
                            <select class="form-control" id="modulo" name="modulo" onchange="consultar_recursos()" required>
                                <option value="">Seleccione un módulo</option>
                                {{#each module}}
                                <option value="{{module}}"> {{module}}</option>
                                {{/each}}
                            </select>
                            <br />
                        </div>
                        <div class="col-sm-8 mb-3 mb-sm-0">
                            <label for="recursosadd">Recursos:</label>
                            <select class="form-control" name="recursos" id="recursos">
                            </select>
                        </div>

                    </div>

                    <hr>
                    <div class="row">

                        <div class="col-lg-6">
                            <button class="btn btn-warning btn-block">
                                Guardar
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <a href="/perfiles" class="btn btn-secondary btn-block">
                                Cancelar
                            </a>
                        </div>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
        <!-- -->
    </div>
</div>

<script>
    function consultar_recursos() {
        var id = document.getElementById("modulo").value;
        var sede = document.getElementById("sede").value;
        var perfil = document.getElementById("perfil").value;

        $.ajax({

            url: '/perfiles/consultar_perfiles',
            method: 'POST',
            data: {
                modulo: id,
                sede: sede,
                perfil: perfil,
            },

            success: function (pt) {

                $('#recursos').empty();
                pt.recursos.forEach(recursos1 => {

                    $('#recursos').append(`
                        <option value="${recursos1.idres}" ">${recursos1.description}</option>');
                     `)
                })

            }
        });
    }

</script>