<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>{{title}} | Dirección Corp Contabilidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />


    <link href="../../public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../../public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"
        type="text/css">

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../../public/assets/images/favicon.ico">

    {{{HeaderCss}}}
    
    <!-- Plugins css -->
    <link href="../../../public/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="../../../public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="../../../public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />
    <script src="../../../public/assets/libs/jquery/jquery.min.js"></script>
    {{>HeaderStyle}}

</head>


<body data-sidebar="dark">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{>Header}}
        {{>Sidebar}}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {{{breadcrumb}}}

                    {{{body}}}

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {{>Footer}}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    {{>Rightbar}}
    {{>FooterScript}}

    {{{FooterJs}}}
    <script src="../../../public/assets/libs/xlsx-core/xlsx.core.min.js"></script>
    <!-- Plugins js -->
    <script src="../../../public/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- Table Editable plugin -->
    <script src="../../../public/assets/libs/table-edits/build/table-edits.min.js"></script>
    <script src="../../../public/assets/js/pages/table-editable.int.js"></script>

    <!-- jquery step -->
    <script src="../../../public/assets/libs/select2/js/select2.min.js"></script>
    <script src="../../../public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../../../public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
    <script src="../../../public/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="../../../public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../../../public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../../../public/assets/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>

    <!-- form advanced init -->
    <script src="../../../public/assets/js/pages/form-advanced.init.js"></script>

    <script src="../../../public/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

    <script src="../../../public/assets/js/pages/form-repeater.int.js"></script>

    <script src="../../../public/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

    <!-- form wizard init -->
    <script src="../../../public/assets/js/pages/form-wizard.init.js"></script>

    <script src="../../../public/assets/js/app.js"></script>
    <!-- fontawesome icons init -->

    <script src="../../../public/assets/js/pages/fontawesome.init.js"></script>
    <!-- Required datatable js -->
    <script src="../../../public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="../../../public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../../public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../../../public/assets/libs/jszip/jszip.min.js"></script>
    <script src="../../../public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../../public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="../../../public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../../public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../../public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="../../../public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="../../../public/assets/js/pages/datatables.init.js"></script>
    {{{BottomJs}}}
</body>

</html>