<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Subgrupos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Parametrización</a></li>
                    <li class="breadcrumb-item active">Grupos</li>
                    <li class="breadcrumb-item active">Subgrupos</li>
                </ol>
            </div>

        </div>
    </div>
</div>




<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <hr color="blue" size=3>
                    <br>
                    <h4 class="mb-sm-0 font-size-18">Parametrizaciones de subgrupos</h4>
                    <br>
                    <p class="card-title-desc">Adicionar los subgrupos pertenecientes al grupo seleccionado.
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="repeater" action="/parametrizacion/add_subgrupo/{{id}}" method="POST"
                                        autocomplete="off" id="subgrupo" name="subgrupo">
                                        <div data-repeater-list="group" id="subgrupo" name="subgrupo">
                                            <div data-repeater-item class="row">
                                                <div class="mb-3 col-lg-2">
                                                    <label for="campo">Nombre del subgrupo</label>
                                                    <input type="text" maxlength="200" id="nombre" name="nombre"
                                                        class="form-control" required>
                                                </div>

                                                <div class="mb-3 col-lg-6">
                                                    <label for="message">Descripción</label>
                                                    <textarea id="descripcion" maxlength="800" name="descripcion"
                                                        class="form-control"></textarea>
                                                </div>

                                                <div class="mb-3 col-lg-2 align-self-center">
                                                    <label for="message"></label>
                                                    <button data-repeater-delete type="button"
                                                        class="btn btn-danger waves-effect waves-light btn-lg">
                                                        <i class="bx bx-trash label-icon"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0"
                                            value="Adicionar campo" />
                                    </form>
                                    <br>
                                    <hr>
                                    <form class="repeater" id="edit_subgrupo" name="edit_subgrupo"
                                        action="/parametrizacion/add_subgrupo/{{id}}" method="POST">
                                        {{#each subgrupos}}
                                        <div data-repeater-list="group2" id="group2" name="group2">
                                            <div data-repeater-item class="row">
                                                <input type="hidden" id="id" maxlength="200" name="id"
                                                    class="form-control" value="{{id}}">

                                                <div class="mb-3 col-lg-2">
                                                    <label for="campo">Nombre del subgrupo</label>
                                                    <input type="text" maxlength="200" id="nombre" name="nombre"
                                                        class="form-control" value="{{nombre}}" required>
                                                </div>

                                                <div class="mb-3 col-lg-6">
                                                    <label for="message">Descripción</label>
                                                    <textarea id="descripcion" maxlength="800" name="descripcion"
                                                        class="form-control">{{descripcion}}</textarea>
                                                </div>

                                                <div class="mb-3 col-lg-2 align-self-center">
                                                    <label for="message"></label>
                                                    <a data-repeater-delete type="button"
                                                        href="/parametrizacion/add_subgrupo/delete/{{id}}"  onclick="return preguntarEliminar()"
                                                        class="btn btn-danger waves-effect waves-light btn-lg">
                                                        <i class="bx bx-trash label-icon"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        {{/each}}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2"></div>
                        <div class="col-md-3 col-md-offset-2"></div>
                        <div class="col-md-3 col-md-offset-2">
                            <button id="btnEnviar" name="btnEnviar" onclick="submitForms()"
                                class="btn btn-primary btn-lg waves-effect waves-light ml-auto">Enviar
                                formulario</button>
                        </div>

                        <div class="col-md-3 col-md-offset-2">
                            <a href="/parametrizacion/campos/{{idfto}}"
                                class="btn btn-success btn-lg waves-effect waves-light ml-auto">
                                Regresar a la lista
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end card body -->
    </div>
    <!-- end col -->
</div>


<script>
    function submitForms() {
        $.ajax({
            url: '/parametrizacion/add_subgrupo/{{id}}',
            method: 'POST',
            data: {
                'subgrupo': JSON.stringify($("#subgrupo").serializeArray()),
                'edit_subgrupo': JSON.stringify($("#edit_subgrupo").serializeArray())
            }
        })
        location.reload();
    }
</script>

<script type="text/javascript">
    function preguntarEliminar() {
        var respuesta = confirm('¿Esta seguro que desea eliminar el subgrupo?.');
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    };
</script>